# Node modules
frontend/node_modules/

# Python cache
debug/
__pycache__/
*/__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

frontend/dist/assets/index-6e14291d.js
frontend/dist/assets/index-11fc0940.css
